/* 변수 설정 */
//폰트
$font: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
  "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
  "Malgun Gothic", sans-serif !important;

//font color

$font-basic: #e7e7e7;
$font-primary: #ff7a00;
$font-orange: #fc550f;
$font-white: #ffffff;
$font-black: #000000;
$font-black-8: rgba(0, 0, 0, 0.8);

//background color
$bg-white: #ffffff;
$bg-black: #151515;
$bg-orange: #fc550f;
$bg-primary: #ff7a00;

//font size
$font-xxl: 22px;
$font-xl: 20px;
$font-l: 18px;
$font-m: 16px;
$font-n: 14px;
$font-s: 13px;
$font-t: 12px;

//font weight
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$extra-black: 900;

$line: 1px solid #e7e7e7;
